<!DOCTYPE html>
<html>
  <head>
    <title>TurnKey Rails</title>
    <%= yield :prehead %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_importmap_tags "application" %>

    <%= javascript_include_tag "jquery", "ui.core", "ui.tabs", "tkl-webcp", 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>

    <%= yield :posthead %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
